
		@keyframes animateCircleForward
		{
			0%
			{
				transform: rotate(0deg);
			}
			100%
			{
				transform: rotate(360deg);
			}
		}

		@keyframes animateCircleBackward
		{
			0%
			{
				transform: rotate(0deg);
			}
			100%
			{
				transform: rotate(-360deg);
			}
		}

		.wheel-container{
		    display: block;
		    position: absolute;
		    background: #929998;
		    width: 30px;
		    height: 30px;
		    border-radius: 50%;
		}

		#wheel1 {
			top: 70%;
		    left: 60%;

		}

		h1, h2 {
			text-align: center;
		}

		#wheel2 {
			top: 70%;
		    left: 20%;
		}

		.wheel1-line {
		  height: 100%;
		  width: 10%;
		  background-color: white;
		  left: 50%;
		  top: 0;
		  position: absolute;
		}

		#frame {
			float: left;
			margin: 0 auto;
			position: relative;
			border: solid 1px black;
			width: 800px;
			max-width: 800px;
			height: 500px;
		}

		#car {
			position: relative;
			width: 300px;
			height: 200px;
			left: -35px;
			top: 65%;
			z-index: 1;
		}

		#car-front {
			display: block;
		    position: absolute;
		    background: #96d3d0;
		    width: 60px;
		    height: 60px;
		    border-radius: 50%;
		  	left: 65%;
		  	top: 40%;
		}

		#car-floor {
			position: absolute;
			background: #c7d811;
			width: 70%;
			height: 7%;
			top: 65%;
			left: 13%;
		}

		#car-divided {
			position: absolute;
			background: #c7d811;
			width: 11%;
			height: 25%;
			top: 40%;
			left: 64%;
		}

		#car-carry {
			position: absolute;
			background: #e8edec;
			width: 50%;
			height: 40%;
			top: 24%;
			left: 13%;
		}

		#carry-label {
			font-size: 22px;
			top: 20%;
			left: 10%;
			position: absolute;
		}

		.screen-side {
			background-color: white;
			position: relative;
			float: left;
			width: 350px;
			height: 500px;

			z-index: 2;
		}

		#container {
			position: relative;
			margin: 0 auto;
			width: 1508px;
			height: 501px;
		
		}

